In [1]:
# Once the rolling, expanding and ewm objects are created, several methods are available to
# perform aggregations on data.
import pandas as pd
import numpy as np

In [2]:
df1 = pd.DataFrame(np.random.randn(10, 4),
                  index=pd.date_range('1/1/2000', periods=10),
                  columns=['A', 'B', 'C', 'D'])
print(df1)
r1 = df1.rolling(window=3, min_periods=1)
print(r1)

                   A         B         C         D
2000-01-01 -0.307631  0.266040  0.390608  0.640092
2000-01-02 -1.610482  0.637474  0.835536 -0.144997
2000-01-03  0.360429  0.151853  0.374995 -0.001983
2000-01-04  0.504240  0.716215  0.137235 -0.365174
2000-01-05  1.974717  0.100391 -0.850675  1.830008
2000-01-06  2.397902 -0.314852 -1.576036 -0.601391
2000-01-07  1.511968  0.957981  0.938432 -0.356741
2000-01-08  1.047766 -0.405296 -0.612296  0.233484
2000-01-09  0.734660 -0.247522 -0.647175 -0.683641
2000-01-10 -0.402213  0.268116  0.660319 -0.141940
Rolling [window=3,min_periods=1,center=False,axis=0]

In [3]:
# apply aggregation on a whole DataFrame
print(r1.aggregate(np.sum))

                   A         B         C         D
2000-01-01 -0.307631  0.266040  0.390608  0.640092
2000-01-02 -1.918114  0.903514  1.226144  0.495095
2000-01-03 -1.557685  1.055367  1.601138  0.493112
2000-01-04 -0.745813  1.505542  1.347765 -0.512154
2000-01-05  2.839385  0.968459 -0.338446  1.462851
2000-01-06  4.876858  0.501754 -2.289476  0.863444
2000-01-07  5.884587  0.743520 -1.488279  0.871877
2000-01-08  4.957637  0.237833 -1.249900 -0.724647
2000-01-09  3.294395  0.305163 -0.321040 -0.806897
2000-01-10  1.380213 -0.384701 -0.599152 -0.592097

In [4]:
# apply aggregation on a single column of a DataFrame
print(r1['A'].aggregate(np.sum))

2000-01-01   -0.307631
2000-01-02   -1.918114
2000-01-03   -1.557685
2000-01-04   -0.745813
2000-01-05    2.839385
2000-01-06    4.876858
2000-01-07    5.884587
2000-01-08    4.957637
2000-01-09    3.294395
2000-01-10    1.380213
Freq: D, Name: A, dtype: float64

In [5]:
# apply aggregation on multiple columns of a DataFrame
print(r1[['A', 'B']].aggregate(np.sum))

                   A         B
2000-01-01 -0.307631  0.266040
2000-01-02 -1.918114  0.903514
2000-01-03 -1.557685  1.055367
2000-01-04 -0.745813  1.505542
2000-01-05  2.839385  0.968459
2000-01-06  4.876858  0.501754
2000-01-07  5.884587  0.743520
2000-01-08  4.957637  0.237833
2000-01-09  3.294395  0.305163
2000-01-10  1.380213 -0.384701

In [6]:
# apply multiple function on a single column of a DataFrame
print(r1['A'].aggregate([np.sum, np.mean]))

                 sum      mean
2000-01-01 -0.307631 -0.307631
2000-01-02 -1.918114 -0.959057
2000-01-03 -1.557685 -0.519228
2000-01-04 -0.745813 -0.248604
2000-01-05  2.839385  0.946462
2000-01-06  4.876858  1.625619
2000-01-07  5.884587  1.961529
2000-01-08  4.957637  1.652546
2000-01-09  3.294395  1.098132
2000-01-10  1.380213  0.460071

In [7]:
# apply multiple functions on multiple columns of a DataFrame
print(df1)
print(r1[['A', 'B']].aggregate([np.sum, np.mean]))

                   A         B         C         D
2000-01-01 -0.307631  0.266040  0.390608  0.640092
2000-01-02 -1.610482  0.637474  0.835536 -0.144997
2000-01-03  0.360429  0.151853  0.374995 -0.001983
2000-01-04  0.504240  0.716215  0.137235 -0.365174
2000-01-05  1.974717  0.100391 -0.850675  1.830008
2000-01-06  2.397902 -0.314852 -1.576036 -0.601391
2000-01-07  1.511968  0.957981  0.938432 -0.356741
2000-01-08  1.047766 -0.405296 -0.612296  0.233484
2000-01-09  0.734660 -0.247522 -0.647175 -0.683641
2000-01-10 -0.402213  0.268116  0.660319 -0.141940
                   A                   B
                 sum      mean       sum      mean
2000-01-01 -0.307631 -0.307631  0.266040  0.266040
2000-01-02 -1.918114 -0.959057  0.903514  0.451757
2000-01-03 -1.557685 -0.519228  1.055367  0.351789
2000-01-04 -0.745813 -0.248604  1.505542  0.501847
2000-01-05  2.839385  0.946462  0.968459  0.322820
2000-01-06  4.876858  1.625619  0.501754  0.167251
2000-01-07  5.884587  1.961529  0.743520  0.247840
2000-01-08  4.957637  1.652546  0.237833  0.079278
2000-01-09  3.294395  1.098132  0.305163  0.101721
2000-01-10  1.380213  0.460071 -0.384701 -0.128234

In [8]:
# apply different functions to different columns of a DataFrame
print(r1.aggregate({'A': np.sum, 'B': np.mean}))

                   A         B
2000-01-01 -0.307631  0.266040
2000-01-02 -1.918114  0.451757
2000-01-03 -1.557685  0.351789
2000-01-04 -0.745813  0.501847
2000-01-05  2.839385  0.322820
2000-01-06  4.876858  0.167251
2000-01-07  5.884587  0.247840
2000-01-08  4.957637  0.079278
2000-01-09  3.294395  0.101721
2000-01-10  1.380213 -0.128234