In [2]:
# Timedelta --> differences in times, expressed in different units (days, hours, minutes, seconds)
#               can be both positive and negative
import pandas as pd

In [3]:
# String
print(pd.Timedelta('2 days 2 hours 15 minutes 30 seconds'))

2 days 02:15:30

In [4]:
# Integer
print(pd.Timedelta(6, unit='h'))

0 days 06:00:00

In [6]:
# Data Offsets
print(pd.Timedelta(days=2))

2 days 00:00:00

In [27]:
# to_timedelta() --> convert a scalar, array, list or series from  a recognized timedelta format/ value into a Timedelta type
pd.to_timedelta('1 days 06:05:01.00003')

Timedelta('1 days 06:05:01.000030')

In [28]:
pd.to_timedelta('15.5us')

Timedelta('0 days 00:00:00.000015')

In [29]:
pd.to_timedelta(['1 days 06:05:01.00003', '15.5us', 'nan'])

TimedeltaIndex(['1 days 06:05:01.000030', '0 days 00:00:00.000015', NaT], dtype='timedelta64[ns]', freq=None)

In [30]:
import numpy as np
# convert numbers by specifying the unit keyword argument
pd.to_timedelta(np.arange(5), unit='s')

TimedeltaIndex(['00:00:00', '00:00:01', '00:00:02', '00:00:03', '00:00:04'], dtype='timedelta64[ns]', freq=None)

In [31]:
pd.to_timedelta(np.arange(5), unit='d')

TimedeltaIndex(['0 days', '1 days', '2 days', '3 days', '4 days'], dtype='timedelta64[ns]', freq=None)

In [19]:
# operations --> can operate on Series/DataFrames adn construct timedelta64[ns] Series through substration operations
#                on datetime64[ns] Series, or Timestamps
s = pd.Series(pd.date_range('2012-1-1', periods=3, freq='D'))
td = pd.Series([pd.Timedelta(days=i) for i in range(3)])
df = pd.DataFrame(dict(A = s, B = td))
print(df)

           A      B
0 2012-01-01 0 days
1 2012-01-02 1 days
2 2012-01-03 2 days

In [20]:
# Addition Operations
df['C'] = df['A']+df['B']
print(df)

           A      B          C
0 2012-01-01 0 days 2012-01-01
1 2012-01-02 1 days 2012-01-03
2 2012-01-03 2 days 2012-01-05

In [21]:
# Substraction operations
df['D'] = df['A'] - df['B']
print(df)

           A      B          C          D
0 2012-01-01 0 days 2012-01-01 2012-01-01
1 2012-01-02 1 days 2012-01-03 2012-01-01
2 2012-01-03 2 days 2012-01-05 2012-01-01