In [1]:
import pandas as pd
import numpy as np

In [2]:
# create a Dict of series
d1 = {'Name':pd.Series(['Tom', 'James', 'Ricky', 'Vin', 'Steve', 'Smith', 'Jack', 'Lee', 'David', 'Gasper', 'Betina', 'Andres']),
     'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
     'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])}

# create a DataFrame
df1 = pd.DataFrame(d1)
print(df1)

    Age    Name  Rating
0    25     Tom    4.23
1    26   James    3.24
2    25   Ricky    3.98
3    23     Vin    2.56
4    30   Steve    3.20
5    29   Smith    4.60
6    23    Jack    3.80
7    34     Lee    3.78
8    40   David    2.98
9    30  Gasper    4.80
10   51  Betina    4.10
11   46  Andres    3.65

In [4]:
# sum() -> each individual column is added individually
print(df1.sum())

Age                                                     382
Name      TomJamesRickyVinSteveSmithJackLeeDavidGasperBe...
Rating                                                44.92
dtype: object

In [7]:
# sum(axis) -> axis=1
print(df1.sum(1))

0     29.23
1     29.24
2     28.98
3     25.56
4     33.20
5     33.60
6     26.80
7     37.78
8     42.98
9     34.80
10    55.10
11    49.65
dtype: float64

In [8]:
# mean()
print(df1.mean())

Age       31.833333
Rating     3.743333
dtype: float64

In [9]:
# std() -> the Bressel standarad deviation of the numerical columns
print(df1.std())

Age       9.232682
Rating    0.661628
dtype: float64

In [10]:
# Summarizing Data
# describe() -> computes a summary of statistics pertaining to the DataFrame columns
print(df1.describe())

             Age     Rating
count  12.000000  12.000000
mean   31.833333   3.743333
std     9.232682   0.661628
min    23.000000   2.560000
25%    25.000000   3.230000
50%    29.500000   3.790000
75%    35.500000   4.132500
max    51.000000   4.800000

In [11]:
# sum(), cumsum() -> work with both numeric and character (or) string data elements
# abs(), cumprod() -> throw exception when the DataFrame contains character or string data (such operations cannot be performed)

In [17]:
# describe() with argument 'include'
# include contains =>
# object - summarizes string columns
# number - summarizes numeric columns (DEFAULT)
# all - summarizes all columns together (should not pass it as a list value)
print(df1.describe(include=['object']))

          Name
count       12
unique      12
top     Gasper
freq         1

In [16]:
print(df1.describe(include=['number']))

             Age     Rating
count  12.000000  12.000000
mean   31.833333   3.743333
std     9.232682   0.661628
min    23.000000   2.560000
25%    25.000000   3.230000
50%    29.500000   3.790000
75%    35.500000   4.132500
max    51.000000   4.800000

In [21]:
print(df1)
# should not pass it as a list value
print(df1.describe(include='all'))

    Age    Name  Rating
0    25     Tom    4.23
1    26   James    3.24
2    25   Ricky    3.98
3    23     Vin    2.56
4    30   Steve    3.20
5    29   Smith    4.60
6    23    Jack    3.80
7    34     Lee    3.78
8    40   David    2.98
9    30  Gasper    4.80
10   51  Betina    4.10
11   46  Andres    3.65
              Age    Name     Rating
count   12.000000      12  12.000000
unique        NaN      12        NaN
top           NaN  Gasper        NaN
freq          NaN       1        NaN
mean    31.833333     NaN   3.743333
std      9.232682     NaN   0.661628
min     23.000000     NaN   2.560000
25%     25.000000     NaN   3.230000
50%     29.500000     NaN   3.790000
75%     35.500000     NaN   4.132500
max     51.000000     NaN   4.800000