In [1]:
# lower() --> converts strings in the Series/Indes to lower case
# upper() --> to uppercase
# len() --> computes String length
# strip() --> helps strip whitespace(including newline) from each string in the Series/Index from both the sides
# split('') --> splits each string with the given pattern
# cat(sep='') --> concatenates the Series/Index elements with given separator
# get_dummies() --> returns the DataFrame with One-Hot encoded values
# contains(pattern) --> returns a boolean value True for each element if the substring contains in the element, eles False
# replace(a,b) --> replaces the values a with the value b
# repeat(value) --> repeats each element with specified number of times
# count(pattern) --> returns count of appearance of pattern in each element
# startswith(pattern) --> returns True if the element in the Series/Index starts with the pattern
# endswith(pattern) --> returns True... ends with the pattern
# find(pattern) --> returns the first position of the first occurence of the pattern
# findall(pattern) --> returns a list of all occurence of the pattern
# swapcase --> swaps the case lower/upper
# islower() --> checks whether all characters in each string in the Series/Index in lower case or not. returns boolean
# isupper() --> checks whether all characters in each.... in upper or not...
# isnumeric() --> checks whether all characters in each string in the Series/Index are numeric. returns boolean

In [2]:
import pandas as pd
import numpy as np

In [3]:
s1=pd.Series(['Tom', 'William Rick', 'John', 'Alber@t', np.nan, '1234', 'SteveSmith'])
print(s1)

0             Tom
1    William Rick
2            John
3         Alber@t
4             NaN
5            1234
6      SteveSmith
dtype: object

In [4]:
# lower
print(s1.str.lower())

0             tom
1    william rick
2            john
3         alber@t
4             NaN
5            1234
6      stevesmith
dtype: object

In [5]:
# upper
print(s1.str.upper())

0             TOM
1    WILLIAM RICK
2            JOHN
3         ALBER@T
4             NaN
5            1234
6      STEVESMITH
dtype: object

In [6]:
# length
print(s1.str.len())

0     3.0
1    12.0
2     4.0
3     7.0
4     NaN
5     4.0
6    10.0
dtype: float64

In [9]:
# strip (reomve whitespaces before and after if any..)
s2=pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
print(s2)
print("After Stripping..")
print(s2.str.strip())

0             Tom
1     William Rick
2             John
3          Alber@t
dtype: object
After Stripping..
0             Tom
1    William Rick
2            John
3         Alber@t
dtype: object

In [12]:
# split(pattern) = each whitespaces seprate by (,) 
print(s2)
print("Split Pattern:")
print(s2.str.split(' '))

0             Tom
1     William Rick
2             John
3          Alber@t
dtype: object
Split Pattern:
0              [Tom, ]
1    [, William, Rick]
2               [John]
3            [Alber@t]
dtype: object

In [14]:
# cat(sep=pattern)
print(s2.str.cat(sep='_'))

Tom _ William Rick_John_Alber@t

In [15]:
# get_dummies()
print(s2.str.get_dummies())

    William Rick  Alber@t  John  Tom
0              0        0     0     1
1              1        0     0     0
2              0        0     1     0
3              0        1     0     0

In [16]:
# contains()
print(s2.str.contains(' '))

0     True
1     True
2    False
3    False
dtype: bool

In [17]:
# replace(a, b)
print(s2)
print("After replacing @ with $:")
print(s2.str.replace('@','$'))

0             Tom
1     William Rick
2             John
3          Alber@t
dtype: object
After replacing @ with $:
0             Tom
1     William Rick
2             John
3          Alber$t
dtype: object

In [18]:
# repeat(value)
print(s2.str.repeat(2))

0                      Tom Tom
1     William Rick William Rick
2                      JohnJohn
3                Alber@tAlber@t
dtype: object

In [19]:
# count(pattern)
print("The number of 'm's in each string:")
print(s2.str.count('m'))

The number of 'm's in each string:
0    1
1    1
2    0
3    0
dtype: int64

In [20]:
# startswith(pattern)
print("Strings that start with 'T':")
print(s2.str.startswith('T'))

Strings that start with 'T':
0     True
1    False
2    False
3    False
dtype: bool

In [21]:
# endswith(pattern)
print("String taht end with 't':")
print(s2.str.endswith('t'))

String taht end with 't':
0    False
1    False
2    False
3     True
dtype: bool

In [25]:
# find(pattern)
# -1 --> there is no such pattern available in the element
print(s2.str.find('e'))

0   -1
1   -1
2   -1
3    3
dtype: int64

In [24]:
# findall(pattern)
# Null list([]) --> there is no such pattern available in the element
print(s2.str.findall('e'))

0     []
1     []
2     []
3    [e]
dtype: object

In [26]:
# swapcase()
print(s2.str.swapcase())

0             tOM
1     wILLIAM rICK
2             jOHN
3          aLBER@T
dtype: object

In [27]:
# islower()
print(s2.str.islower())

0    False
1    False
2    False
3    False
dtype: bool

In [28]:
# isupper()
print(s2.str.isupper())

0    False
1    False
2    False
3    False
dtype: bool

In [29]:
# isnumeric()
print(s2.str.isnumeric())

0    False
1    False
2    False
3    False
dtype: bool