In [1]:
# pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=True)

# left - a dataframe object
# right - another dataframe object
# on - columns (names) to join on
# left_on - columns from the left dataframe to use as keys
# right_on - columns from the right dataframe to use as keys
# left_index - if True, used the index (row labels) from the left DataFrame as its join key(s)
# right_index - same usage as left_index for the right DataFrame
# how - one of 'left', 'right', 'outer', 'inner'. Defaults to inner
# sort - sort the result DataFrame by the join keys in lexicographical order. Default to True,
#        setting to False will improve the performance substantially in many cases.

In [2]:
import pandas as pd
import numpy as np

In [4]:
left = pd.DataFrame({
    'id': [1,2,3,4,5],
    'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
    'subject_id': ['sub1', 'sub2', 'sbu4', 'sub6', 'sub5']
})

right = pd.DataFrame({
    'id': [1,2,3,4,5],
    'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
    'subject_id': ['sub2', 'sub4', 'sub3', 'sub6', 'sub5']
})
print("Left:")
print(left)
print("Right:")
print(right)

Left:
     Name  id subject_id
0    Alex   1       sub1
1     Amy   2       sub2
2   Allen   3       sbu4
3   Alice   4       sub6
4  Ayoung   5       sub5
Right:
    Name  id subject_id
0  Billy   1       sub2
1  Brian   2       sub4
2   Bran   3       sub3
3  Bryce   4       sub6
4  Betty   5       sub5

In [5]:
# merge two dataframes on a key
print(pd.merge(left, right, on='id'))

   Name_x  id subject_id_x Name_y subject_id_y
0    Alex   1         sub1  Billy         sub2
1     Amy   2         sub2  Brian         sub4
2   Allen   3         sbu4   Bran         sub3
3   Alice   4         sub6  Bryce         sub6
4  Ayoung   5         sub5  Betty         sub5

In [6]:
# merge two dataframes on multiple keys
print(pd.merge(left, right, on=['id', 'subject_id']))

   Name_x  id subject_id Name_y
0   Alice   4       sub6  Bryce
1  Ayoung   5       sub5  Betty

In [ ]:
# merge using 'how' argument
# [MERGE METHOD] [SQL EQUIVALENT]   [DESCRIPTION]
#    left        left outer join    use keys from left object
#    right       right outer join   use keys from right object
#    outer       full outer join    use union of keys
#    inner       inner join         use intersection of keys

In [12]:
# left outer join
print(pd.merge(left, right, on='subject_id', how='left'))

   Name_x  id_x subject_id Name_y  id_y
0    Alex     1       sub1    NaN   NaN
1     Amy     2       sub2  Billy   1.0
2   Allen     3       sbu4    NaN   NaN
3   Alice     4       sub6  Bryce   4.0
4  Ayoung     5       sub5  Betty   5.0

In [13]:
# right outer join
print(pd.merge(left, right, on='subject_id', how='right'))

   Name_x  id_x subject_id Name_y  id_y
0     Amy   2.0       sub2  Billy     1
1   Alice   4.0       sub6  Bryce     4
2  Ayoung   5.0       sub5  Betty     5
3     NaN   NaN       sub4  Brian     2
4     NaN   NaN       sub3   Bran     3

In [9]:
# full outer join
print(pd.merge(left, right, on='subject_id', how='outer'))

   Name_x  id_x subject_id Name_y  id_y
0    Alex   1.0       sub1    NaN   NaN
1     Amy   2.0       sub2  Billy   1.0
2   Allen   3.0       sbu4    NaN   NaN
3   Alice   4.0       sub6  Bryce   4.0
4  Ayoung   5.0       sub5  Betty   5.0
5     NaN   NaN       sub4  Brian   2.0
6     NaN   NaN       sub3   Bran   3.0

In [14]:
# inner join
print(pd.merge(left, right, on='subject_id', how='inner'))

   Name_x  id_x subject_id Name_y  id_y
0     Amy     2       sub2  Billy     1
1   Alice     4       sub6  Bryce     4
2  Ayoung     5       sub5  Betty     5