In [1]:
# pd.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False)

# objs - a sequence or mapping of Series, DataFrame, or Panel objects
# axis - {0, 1, ...}, default 0. this is the axis to concatenate along
# join - {'inner', 'outer'}, default 'outer'.
#        OUTER = Union
#        INNER = intersection
# ignore_index - boolean, default False. if True, do not use the index values on the concatenation axis
# join_axes - the list of index objects. specific indexes to use for the other (n-1) axes instead of performing
#             inner/outer set logic.

In [2]:
import pandas as pd

In [5]:
one = pd.DataFrame({
    'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
    'subject_id': ['sub1', 'sub2', 'sub4', 'sub6', 'sub5'],
    'Marks_scored': [98,90,87,69,78]
}, index=[1,2,3,4,5])

two = pd.DataFrame({
    'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
    'subject_id': ['sub2', 'sub4', 'sub3', 'sub6', 'sub5'],
    'Marks_scored': [89,80,79,97,88]
}, index=[1,2,3,4,5])

print("One:")
print(one)

print("Two:")
print(two)

One:
   Marks_scored    Name subject_id
1            98    Alex       sub1
2            90     Amy       sub2
3            87   Allen       sub4
4            69   Alice       sub6
5            78  Ayoung       sub5
Two:
   Marks_scored   Name subject_id
1            89  Billy       sub2
2            80  Brian       sub4
3            79   Bran       sub3
4            97  Bryce       sub6
5            88  Betty       sub5

In [6]:
print(pd.concat([one, two]))

   Marks_scored    Name subject_id
1            98    Alex       sub1
2            90     Amy       sub2
3            87   Allen       sub4
4            69   Alice       sub6
5            78  Ayoung       sub5
1            89   Billy       sub2
2            80   Brian       sub4
3            79    Bran       sub3
4            97   Bryce       sub6
5            88   Betty       sub5

In [8]:
# to associate specific keys with each of the pieces of the chipped up DataFrame
print(pd.concat([one, two], keys=['x', 'y']))

     Marks_scored    Name subject_id
x 1            98    Alex       sub1
  2            90     Amy       sub2
  3            87   Allen       sub4
  4            69   Alice       sub6
  5            78  Ayoung       sub5
y 1            89   Billy       sub2
  2            80   Brian       sub4
  3            79    Bran       sub3
  4            97   Bryce       sub6
  5            88   Betty       sub5

In [9]:
# if the resultant object has to follown its own indexing, set ignore_index=True
print(pd.concat([one, two], keys=['x', 'y'], ignore_index=True))

   Marks_scored    Name subject_id
0            98    Alex       sub1
1            90     Amy       sub2
2            87   Allen       sub4
3            69   Alice       sub6
4            78  Ayoung       sub5
5            89   Billy       sub2
6            80   Brian       sub4
7            79    Bran       sub3
8            97   Bryce       sub6
9            88   Betty       sub5

In [10]:
# if two objects need to be added along axis=1, then the new columns will be appended
print(pd.concat([one, two], axis=1))

   Marks_scored    Name subject_id  Marks_scored   Name subject_id
1            98    Alex       sub1            89  Billy       sub2
2            90     Amy       sub2            80  Brian       sub4
3            87   Allen       sub4            79   Bran       sub3
4            69   Alice       sub6            97  Bryce       sub6
5            78  Ayoung       sub5            88  Betty       sub5

In [12]:
# concatenating using append
print(one.append(two))

   Marks_scored    Name subject_id
1            98    Alex       sub1
2            90     Amy       sub2
3            87   Allen       sub4
4            69   Alice       sub6
5            78  Ayoung       sub5
1            89   Billy       sub2
2            80   Brian       sub4
3            79    Bran       sub3
4            97   Bryce       sub6
5            88   Betty       sub5

In [13]:
# append function take with multiple objects
print(one.append([two, one, two]))

   Marks_scored    Name subject_id
1            98    Alex       sub1
2            90     Amy       sub2
3            87   Allen       sub4
4            69   Alice       sub6
5            78  Ayoung       sub5
1            89   Billy       sub2
2            80   Brian       sub4
3            79    Bran       sub3
4            97   Bryce       sub6
5            88   Betty       sub5
1            98    Alex       sub1
2            90     Amy       sub2
3            87   Allen       sub4
4            69   Alice       sub6
5            78  Ayoung       sub5
1            89   Billy       sub2
2            80   Brian       sub4
3            79    Bran       sub3
4            97   Bryce       sub6
5            88   Betty       sub5