In [1]:
import pandas as pd
import numpy as np

In [3]:
# Empty Dataframe
df1 = pd.DataFrame()
print(df1)

Empty DataFrame
Columns: []
Index: []

In [4]:
# Dataframe from lists
data1 = [1, 2, 3, 4, 5]
df2 = pd.DataFrame(data1)
print(df2)

   0
0  1
1  2
2  3
3  4
4  5

In [5]:
data2 = [['Alex', 10], ['Bob', 12], ['Clarke', 13]]
df3 = pd.DataFrame(data2, columns=['Name', 'Age'])
print(df3)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [6]:
df4 = pd.DataFrame(data2, columns=['Name', 'Age'], dtype=float)
print(df4)

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

In [7]:
# Dataframe from Dict of ndarrays / Lists
data3 = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'], 'Age':[28, 34, 29, 42]}
df4 = pd.DataFrame(data3)
print(df4)

   Age   Name
0   28    Tom
1   34   Jack
2   29  Steve
3   42  Ricky

In [9]:
# Indexed Dataframe using arrays
df5 = pd.DataFrame(data3, index=['rank1', 'rank2', 'rank3', 'rank4'])
print(df5)

       Age   Name
rank1   28    Tom
rank2   34   Jack
rank3   29  Steve
rank4   42  Ricky

In [10]:
# Dataframe from list-[] of Dictionaries-{}
data4 = [{'a':1, 'b':2}, {'a':5, 'b':10, 'c':20}]
df6 = pd.DataFrame(data4)
print(df6)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [11]:
# Dataframe by passing a list of dicts and the row indices
df7 = pd.DataFrame(data4, index=['first', 'second'])
print(df7)

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [12]:
# with two col indices, values(columns indices) same as dictionary keys
df8 = pd.DataFrame(data4, index=['first', 'second'], columns=['a', 'b'])
print(df8)

        a   b
first   1   2
second  5  10

In [14]:
# Dataframe created with a column index other than the dictionary key
df9 = pd.DataFrame(data4, index=['first', 'second'], columns=['a', 'b1'])
print(df9)

        a  b1
first   1 NaN
second  5 NaN

In [16]:
# Dataframe from Dict of Series
d = {'one': pd.Series([1, 2, 3], index=['a', 'b', 'c']),
    'two': pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df10 = pd.DataFrame(d)
print(df10)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [17]:
# Column Selection
print(df10['one'])

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [18]:
# Column Addtion
print("Adding a new col to an existing Dataframe object with column label by passing new series")
df10['three']= pd.Series([10, 20 ,30], index=['a', 'b', 'c'])
print(df10)

Adding a new col to an existing Dataframe object with column label by passing new series
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN

In [19]:
print("Adding a new colum using th existing columns in DataFrame:")
df10['four'] = df10['one']+df10['three']

print(df10)

Adding a new colum using th existing columns in DataFrame:
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [20]:
# Column Deletion
print("Our dataframe is:")
print(df10)

# Using del function
print("Deleting the first column using DEL function:")
del(df10['one'])
print(df10)

# Using pop function
print("Deleting another column using POP function:")
df10.pop('two')
print(df10)

Our dataframe is:
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN
Deleting the first column using DEL function:
   two  three  four
a    1   10.0  11.0
b    2   20.0  22.0
c    3   30.0  33.0
d    4    NaN   NaN
Deleting another column using POP function:
   three  four
a   10.0  11.0
b   20.0  22.0
c   30.0  33.0
d    NaN   NaN

In [25]:
# Row can be selected by passing integer location to an iloc function
# Selecting by iloc function (Integer location)
d1 = {'one': pd.Series([1, 2, 3], index=['a', 'b', 'c']),
     'two': pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df11 = pd.DataFrame(d1)
print(df11)
# By index(row number -> 0, 1, 2, ...)
print(df11.iloc[2])

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
one    3.0
two    3.0
Name: c, dtype: float64

In [26]:
# Multiple row can be selected using ':' operator
print(df11[2:4])

   one  two
c  3.0    3
d  NaN    4

In [27]:
print(df11[2:3])

   one  two
c  3.0    3

In [28]:
# Add new rows to a Datarame using append fucntion
df12 = pd.DataFrame([[1, 2], [3, 4]], columns=['a', 'b'])
df13 = pd.DataFrame([[5, 6], [7, 8]], columns=['a', 'b'])

df11 = df11.append(df12)
print(df11)

     a    b  one  two
a  NaN  NaN  1.0  1.0
b  NaN  NaN  2.0  2.0
c  NaN  NaN  3.0  3.0
d  NaN  NaN  NaN  4.0
0  1.0  2.0  NaN  NaN
1  3.0  4.0  NaN  NaN

In [30]:
df11 = df12.append(df13)
print(df11)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

In [33]:
# Deletin of rows
# drop rows with label 0 (index)
df14 = df11.drop(0)
print(df14)

   a  b
1  3  4
1  7  8