In [1]:
import pandas as pd
import numpy as np

In [3]:
# Create a dictionar of series
d1 = {'Name':pd.Series(['Tom', 'James', 'Ricky', 'Vin', 'Steve', 'Smith', 'Jack']),
    'Age':pd.Series([25,26,25,23,30,29,23]),
    'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

In [5]:
# Create a DataFrame
df1 = pd.DataFrame(d1)
print("Our data series is:")
print(df1)

Our data series is:
   Age   Name  Rating
0   25    Tom    4.23
1   26  James    3.24
2   25  Ricky    3.98
3   23    Vin    2.56
4   30  Steve    3.20
5   29  Smith    4.60
6   23   Jack    3.80

In [6]:
# Transpose
print("The transpose of the DataFrame is:")
print(df1.T)

The transpose of the DataFrame is:
           0      1      2     3      4      5     6
Age       25     26     25    23     30     29    23
Name     Tom  James  Ricky   Vin  Steve  Smith  Jack
Rating  4.23   3.24   3.98  2.56    3.2    4.6   3.8

In [7]:
# axes
print("Row axis labels and column axis labels are:")
print(df1.axes)

Row axis labels and column axis labels are:
[RangeIndex(start=0, stop=7, step=1), Index(['Age', 'Name', 'Rating'], dtype='object')]

In [8]:
# dtypes
print("The data types of each column are:")
print(df1.dtypes)

The data types of each column are:
Age         int64
Name       object
Rating    float64
dtype: object

In [9]:
# empty
print("Is the object empty?")
print(df1.empty)

Is the object empty?
False

In [10]:
# create an empty DataFrame
df2= pd.DataFrame()

In [11]:
print("Is the object empty?")
print(df2.empty)

Is the object empty?
True

In [13]:
# ndim
print("Our object is:")
print(df1)

print("The dimension of the object is:")
print(df1.ndim)

Our object is:
   Age   Name  Rating
0   25    Tom    4.23
1   26  James    3.24
2   25  Ricky    3.98
3   23    Vin    2.56
4   30  Steve    3.20
5   29  Smith    4.60
6   23   Jack    3.80
The dimension of the object is:
2

In [16]:
# shape (rows, columns)
print("The shape of the object is:")
print(df1.shape)

The shape of the object is:
(7, 3)

In [18]:
# size (total no. of elements)
print("The total number of elements in our object is:")
print(df1.size)

The total number of elements in our object is:
21

In [19]:
# values
print("The actual data in our data frame is:")
print(df1.values)

The actual data in our data frame is:
[[25 'Tom' 4.23]
 [26 'James' 3.24]
 [25 'Ricky' 3.98]
 [23 'Vin' 2.56]
 [30 'Steve' 3.2]
 [29 'Smith' 4.6]
 [23 'Jack' 3.8]]

In [21]:
# Head()
print("Our data frame is:")
print(df1)

print("The first two rows of the data frame is:")
print(df1.head(2))

Our data frame is:
   Age   Name  Rating
0   25    Tom    4.23
1   26  James    3.24
2   25  Ricky    3.98
3   23    Vin    2.56
4   30  Steve    3.20
5   29  Smith    4.60
6   23   Jack    3.80
The first two rows of the data frame is:
   Age   Name  Rating
0   25    Tom    4.23
1   26  James    3.24

In [22]:
# tail()
print("The last two three of the data frame is:")
print(df1.tail(3))

The last two three of the data frame is:
   Age   Name  Rating
4   30  Steve     3.2
5   29  Smith     4.6
6   23   Jack     3.8