In [1]:
# Basic iteration (for i in object) produces:
# Series -> values
# DataFrame -> column labels
# Panel -> item labels

In [2]:
import pandas as pd
import numpy as np

In [4]:
# For DataFrames
N=20
df1= pd.DataFrame({
    'A': pd.date_range(start='2016-01-01', periods=N, freq='D'),
    'x': np.linspace(0, stop=N-1, num=N),
    'y': np.random.rand(N),
    'C': np.random.choice(['Low', 'Medium', 'High'],N).tolist(),
    'D': np.random.normal(100, 10, size=(N)).tolist()
    
})

for col in df1:
    print(col)

A
C
D
x
y

In [5]:
# Iteration over the rows of the DataFrame
# Functions:
# iteritems() -> iterate over the (key,value) pairs
# iterrows() -> iterate over the rows as (index, series) pairs
# itertuples() -> iterate over the rows as namedtuples

In [7]:
# iteritems()
df2 = pd.DataFrame(np.random.randn(4,3), columns=['col1','col2','col3'])
# each column is iterated separtely as a key-value pair in a Series
for key,value in df2.iteritems():
    print(key, value)

col1 0    1.786034
1    1.051396
2   -0.583519
3    0.984193
Name: col1, dtype: float64
col2 0    1.012624
1   -0.387464
2   -0.612408
3   -0.936584
Name: col2, dtype: float64
col3 0   -0.188001
1    0.692985
2    1.608404
3    1.123787
Name: col3, dtype: float64

In [9]:
# iterrows()
# interate over the rows
# does not preserve the data type across the row
for row_index,row in df2.iterrows():
    print(row_index,row)

0 col1    1.786034
col2    1.012624
col3   -0.188001
Name: 0, dtype: float64
1 col1    1.051396
col2   -0.387464
col3    0.692985
Name: 1, dtype: float64
2 col1   -0.583519
col2   -0.612408
col3    1.608404
Name: 2, dtype: float64
3 col1    0.984193
col2   -0.936584
col3    1.123787
Name: 3, dtype: float64

In [10]:
# itertuples()
# do not modify any object while iterating
# reading and returns a copy of the original object (a view)
for row in df2.itertuples():
    print(row)

Pandas(Index=0, col1=1.7860339413447281, col2=1.0126236449176393, col3=-0.18800092024868562)
Pandas(Index=1, col1=1.051396024809258, col2=-0.38746391722937423, col3=0.6929847778980472)
Pandas(Index=2, col1=-0.5835188172597499, col2=-0.6124078302043807, col3=1.6084035513500923)
Pandas(Index=3, col1=0.9841927912028821, col2=-0.9365837628244416, col3=1.1237868844459522)

In [13]:
for index, row in df2.iterrows():
    row['a']=10
    
print(df2)

       col1      col2      col3
0  1.786034  1.012624 -0.188001
1  1.051396 -0.387464  0.692985
2 -0.583519 -0.612408  1.608404
3  0.984193 -0.936584  1.123787